# Entorno virtual
venv/
*.pyc
__pycache__/
*.egg-info/

# Variables de entorno
.env
.env.local

# Streamlit secrets
.streamlit/secrets.toml

# Archivos del sistema
.DS_Store
Thumbs.db

# Datos locales
data/
logs/

# IDE
.vscode/
.idea/
*.swp